@charset "utf-8";
*, *:before, *:after {
    box-sizing: border-box
}
.container{
    font-family: "Open Sans", serif;
    width: 98vw;
    max-width:1900px;
    color: #5b6469;
    margin: 0 auto;
    font-weight: 600;
    background-color:#fff;
}
a {
    text-decoration:none;
}
a:hover {
    text-decoration: none;
}
ul {
    list-style: none;
}
.heading2{
    line-height: 37px;
    font-size:27px;
    color:#18B4CF;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
}
.header{
    background: #313131;
    display:flex;
    justify-content: space-between;
    text-align: center;
    height:70px;
}
.logo{
    display:flex;
    min-width:140px;
    align-items: center;
}
.logo-img{
    padding:0 20px 0 10px;
}
.logo-text-link {
    color:#fff;
}
.top-menu-link{
    display:inline-block;
    vertical-align: middle;
    margin-top: -30px;
    padding:20px 8px;
    color:#fff;
    text-transform: uppercase;
}
.top-menu-link:hover{
    color:#14B9D5;
}
.top-menu{
    width:60vw;
    max-width:900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    min-height:70px;
}
.search-btn{
    margin-left:20px;
    background-color: #000;
    padding-top:28px;
}
.search-link{
    padding:30px;
}
.showcase{
    background-image: url("../img/header-background.jpg");
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    min-height:300px;
}
.showcase-caption{
    margin-top:0;
    display:flex;
    justify-content: center;
    padding:100px 20px 0 10px;
    text-transform: uppercase;
    text-align: center;
    color:#fff;
    font-size:27px;
    font-weight: 700;
    margin-bottom: 40px;
}
.showcase-buttons{
    display:flex;
    justify-content:center;
    height:55px;
    align-items: center;
}
.showcase-btn{
    font-size:18px;
    margin:0 10px;
    width:180px;
    text-align: center;
    border-radius: 5px;
}
.showcase-btn a{
    display:inline-block;
    padding:20px;
    color:#fff;
}
.subscribe-btn{
    background-color:#89CA62;
}
.best-btn{
    background-color:#14B9D5;
}
.wrapper{
    width: 70vw;
    max-width:1170px;
    margin:0 auto;
}
.mp-posts{
    margin: 40px auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: center;
    max-height: 1000px;
}
.mp-posts-item{
    margin: 0 15px 40px;
    width:20vw;
    max-width:370px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 1px 1px rgba(200, 200, 200, 0.2);
}
.mp-posts-item p{
    text-align: center;
    font-size:18px;
    font-weight:700;
    padding:11px 5px 21px;
}
.mp-posts-item img{
    margin-bottom:10px;
    width:20vw;
    max-width:370px;
}
.mp-clients {
    background-image: url("../img/mp-clients-bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 560px;
}
.mp-clients-caption{
    display:block;
    padding:100px 20px 0 10px;
    text-transform: uppercase;
    text-align: center;
    color:#fff;
    font-size:32px;
    font-weight: 700;
    margin-bottom: 40px;
}
.dash{
    display:flex;
    justify-content:center;
    height:140px;
    align-items: center;
}
.dash-item{
    width:60px;
    margin-bottom: 40px;
    border-bottom: 3px solid #18B4CF;
}
.mp-clients-logos{
    margin-top: 40px;
    display:grid;
    grid-template-columns: 252px 182px 282px 192px;
    justify-content: center;
    height:60px;
}
.mp-clients-logos li a {
    display: block;
    padding-left: 100px;
}
a.national-post {
    background: url("../img/logo-sprite.png") 0 0 no-repeat;
    width: 210px;
    height: 52px;
}
a.dryme {
    background: url("../img/logo-sprite.png") 0 -52px no-repeat;
    width: 136px;
    height: 52px;
}
a.house-home {
    background: url("../img/logo-sprite.png") 0 -105px no-repeat;
    width: 232px;
    height: 57px;
}
a.journy {
    background: url("../img/logo-sprite.png") 0 -164px no-repeat;
    width: 148px;
    height: 58px;
}

/*parallax start*/
/*
.mp-clients {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
}
.parallax_base {
    position: absolute;
    width: 100%;
    top: -100px;
    left: 0;
    text-align: center;
    padding: 40vh 0;
}
.dash-item{
    width:120px;
    border-bottom: 6px solid #18B4CF;
}
.mp-clients-caption {
    padding-top: 50px;
    font-size:80px;
    transform: translateZ(-2px);
}
.dash {
    transform: translateZ(-1px);
}
.mp-clients-logos {
    transform: translateZ(0);
}
*/
/*parallax end*/

.top-rated-list {
    margin-top:40px;
    display: grid;
    grid-template-columns: repeat(7, minmax(160px, 1fr));
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    padding:0;
}
.top-rated-list img {
    width: 14vw;
    max-width: 270px;
    height: auto;
}
.hot-news {
    margin: 36px auto 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 44px;
    grid-row-gap: 44px;
}
.hot-news-entry1 { grid-area: 1 / 1 / 2 / 4; }
.hot-news-entry2 { grid-area: 1 / 4 / 2 / 5; }
.hot-news-entry3 { grid-area: 2 / 1 / 3 / 3; }
.hot-news-entry4 { grid-area: 2 / 3 / 3 / 5; }
.hot-news-entry5 { grid-area: 3 / 1 / 4 / 3; }
.hot-news-entry6 { grid-area: 3 / 3 / 4 / 5; }
.hot-news-entry7 { grid-area: 4 / 1 / 5 / 2; }
.hot-news-entry8 { grid-area: 4 / 2 / 5 / 5; }

.hne-text {
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}
.hne-h3{
    font-size:18px;
    font-weight:600;
    text-align: right;
    padding: 0 8px
}
.hne-img{
    width:100%;
}
.hot-news-entry1, .hot-news-entry2, .hot-news-entry3, .hot-news-entry4, .hot-news-entry5, .hot-news-entry6, .hot-news-entry7, .hot-news-entry8{
    background: #F9F7F7
}
.hot-news-entry1, .hot-news-entry8 {
    display: flex;
}
.hot-news-entry1 h3, .hot-news-entry8 h3{
    margin: 30px 0 10px;
}
.side-flex{
    display: flex;
    flex-direction: column;
}
.hne-link{
    padding: 0 10px;
    color:#5b6469;
    -webkit-transition: color 0.5s, padding 0.5s;
}
.hne-link:hover{
    color:#55f;
    padding: 0;
}
.h4-caption{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
}
.hot-news-entry3, .hot-news-entry4, .hot-news-entry5, .hot-news-entry6 {
    display: flex;
    flex-direction: column;
    text-align: right;
}
.footer{
    display: grid;
    height:80px;
    background: #000;
    margin-top: 70px;
    grid-template-rows: 80px;
    grid-template-columns: 3fr 400px;
    justify-content: space-around;
}
.copyright{
    color:#fff;
    font-size: 13px;
    font-weight:400;
    padding-left:200px;
    padding-top:32px;
}
.copyright a, .copyright a:visited{
    color:#fff;
}
.lioit-link{
    display:inline-block;
    height:80px;
    padding:30px 10px;
}